<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Eat the Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>

<body>
	<img src="/assets/img/burgerGif.gif" width="400px" id="cute_burger">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2018 Vlad Kondrachuk</span>
				<a class="grey-text text-lighten-4 right" href="https://vladkondrachuk.github.io/">Reference Work</a>
			</div>
		</div>
	</footer>
</body>
</html>